snakemake =7.32.4
samtools =1.20
hisat2 =2.2.1
fastqc =0.12.1
trim-galore =0.6.10
stringtie =2.2.2-0
scallop =0.10.5-6
diamond =2.1.9-0
hmmer =3.4-1
transdecoder =5.7.1
cellranger =7.2.0
RepeatMasker =4.1.5
data.table =1.15.2
rtracklayer =1.62.0
dplyr =1.1.4
stringr =1.5.1
readr =2.1.5
gffread =0.12.7
TransDecoder.LongOrfs =5.7.1
TransDecoder.Predict =5.7.1
liftoff =1.6.3
gffcompare =0.12.6
datasets =16.22.1


